#et-top-navigation {
    float: right;
}

nav#top-menu-nav, #top-menu {
    float: left;
}

element.style {
    text-align: justify;
}

element.style {
    text-align: center;
}

.wpb_content_element .wpb_accordion_wrapper .wpb_accordion_header, .wpb_content_element.wpb_tabs .wpb_tour_tabs_wrapper .wpb_tab {
    background-color: #C0C0C0;
}

.wpb_column > .wpb_wrapper > *:last-child {
    margin-bottom: 0;
}

.vc_custom_1433507959096 {
    border-top-width: 1px !important;
    border-right-width: 1px !important;
    border-bottom-width: 1px !important;
    border-left-width: 1px !important;
    padding-top: 30px !important;
    padding-right: 25px !important;
    padding-bottom: 47px !important;
    padding-left: 25px !important;
    border-left-color: #009ac3 !important;
    border-left-style: solid !important;
    border-right-color: #009ac3 !important;
    border-right-style: solid !important;
    border-top-color: #009ac3 !important;
    border-top-style: solid !important;
    border-bottom-color: #009ac3 !important;
    border-bottom-style: solid !important;
};